[push]
	autoSetupRemote = true
[spice "branchCreate"]
	commit = false
[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
[rerere]
  enabled = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    line-number = true


[merge]
    conflictStyle = zdiff3
